<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/headerAdmin :: headerAdmin"></div>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <div th:insert="blocks/navbarAdmin :: navbarAdmin"></div>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1>Редактрование данных аккаунта</h1>
            <div th:each="el : ${account}" class="alert mt-2" style="background-color: #abbbca">
                <form method="post">
                    <input type="text" th:value="${el.firstName}" name="firstName" placeholder="Введите имя"
                           class="form-control" required="" autofocus=""
                           style="background-color: #abbbca; border-color: black"><br>
                    <input type="text" th:value="${el.lastName}" name="lastName" placeholder="Введите фамилию"
                           class="form-control" required="" style="background-color: #abbbca; border-color: black"><br>
                    <input type="email" th:value="${el.email}" name="email" placeholder="Введите email"
                           class="form-control" required="" style="background-color: #abbbca; border-color: black"><br>
                    <input type="number" th:value="${el.phone}" name="phone" placeholder="Введите номер телефона"
                           class="form-control" required="" style="background-color: #abbbca; border-color: black"><br>

                    <div>
                        <span th:text="'Текущая роль: ' + ${el.role}" style="color: red"/><br>
                        <input type="radio" id="user" name="role" value="USER" class="me-1" checked="checked">
                        <label for="user" class="me-3">USER</label>
                        <input type="radio" id="admin" name="role" value="ADMIN" class="me-1">
                        <label for="admin">ADMIN</label>
                        <hr>
                    </div>

                    <div class="mb-4">
                        <span th:text="'Текущий статус: ' + ${el.state}" style="color: red"/><br>
                        <input type="radio" id="active" name="state" value="ACTIVE" class="me-1" checked="checked">
                        <label for="active" class="me-3">ACTIVE</label>
                        <input type="radio" id="banned" name="state" value="BANNED" class="me-1">
                        <label for="banned" class="me-3">BANNED</label>
                        <input type="radio" id="deleted" name="state" value="DELETED" class="me-1">
                        <label for="deleted">DELETED</label>
                    </div>


                    <div style="display: flex; justify-content: space-between;">
                        <a href="/admin/accounts/" class="btn btn-warning">Cancel</a>
                        <div style="display: flex; justify-content: space-between;">
                            <button type="submit" class="btn btn-warning me-2">Изменить контакт</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

</body>
</html>