<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/headerAdmin :: headerAdmin"></div>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <div th:insert="blocks/navbarAdmin :: navbarAdmin"></div>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1>Редактирование контакта</h1>
            <div th:each="el : ${contact}" class="alert mt-2" style="background-color: #abbbca">
                <form method="post">
                    <input type="text" th:value="${el.image}" name="image" placeholder="Введите адрес фото"
                           class="form-control" required="" autofocus=""
                           style="background-color: #abbbca; border-color: black"><br>
                    <input type="text" th:value="${el.link}" name="link" placeholder="Введите ссылку"
                           class="form-control" required="" style="background-color: #abbbca; border-color: black"><br>
                    <input type="text" th:value="${el.alt}" name="alt" placeholder="Введите alt"
                           class="form-control" style="background-color: #abbbca; border-color: black"><br>
                    <div style="display: flex; justify-content: space-between;">
                        <a href="/admin/contacts/" class="btn btn-warning">Cancel</a>
                        <div style="display: flex; justify-content: space-between;">
                            <button type="submit" class="btn btn-warning me-2">Изменить контакт</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>

</body>
</html>