<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/headerAdmin :: headerAdmin"></div>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <div th:insert="blocks/navbarAdmin :: navbarAdmin"></div>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1>Добавить новый контакт</h1>
            <form action="/admin/contacts" method="post" class="alert mt-2" style="background-color: #abbbca">
                <input type="text" name="image" placeholder="Введите адрес фото" class="form-control" required=""
                       autofocus="" style="background-color: #abbbca; border-color: black"><br>
                <input type="text" name="link" placeholder="Введите ссылку" class="form-control" required=""
                       style="background-color: #abbbca; border-color: black"><br>
                <input type="text" name="alt" placeholder="Введите alt" class="form-control" style="background-color: #abbbca; border-color: black"><br>
                <div style="display: flex; justify-content: space-between;">
                    <a href="/admin/contacts" class="btn btn-warning">Cancel</a>
                    <button type="submit" class="btn btn-warning">Добавить контакт</button>
                </div>
            </form>
            <h2>Список контактов</h2>
            <div th:each="el : ${pageContactsData}" class="alert mt-2" style="background-color: #abbbca">
                <p th:text="${el.image}"/>
                <p th:text="${el.link}"/>
                <p th:text="${el.alt}"/>
                <div style="display: flex; justify-content: space-between;">
                    <a th:href="'/admin/contacts/' + ${el.id} + '/edit'" class="btn btn-warning me-2">Редактировать</a>
                    <form th:action="'/admin/contacts/' + ${el.id} + '/remove'" method="post">
                        <button type="submit" class="btn btn-warning">Удалить</button>
                    </form>
                </div>
            </div>
        </main>

    </div>
</div>

</body>
</html>