<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/headerAdmin :: headerAdmin"></div>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <div th:insert="blocks/navbarAdmin :: navbarAdmin"></div>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="container mt-2 mb-5">
                <h1>Редактирование домашней страницы</h1>
                <div th:each="el : ${pageHomeData}" class="alert mt-2" style="background-color: #abbbca">
                    <form method="post">
                        <input type="text" th:value="${el.text_header}" name="text_header" placeholder="Введите заголовок страницы"
                               class="form-control" autofocus="" style="background-color: #abbbca; border-color: black"><br>
                        <textarea th:text="${el.text_intro}" name="text_intro" placeholder="Введите текст вступительной части страницы"
                               class="form-control" style="background-color: #abbbca; border-color: black; min-height: 250px;"/><br>
                        <textarea th:text="${el.text_desc}" name="text_desc" placeholder="Введите текст описания"
                                  class="form-control" style="background-color: #abbbca; border-color: black; min-height: 250px;"/><br>
                        <div style="display: flex; justify-content: space-between;">
                            <a href="/admin" class="btn btn-warning">Cancel</a>
                            <button type="submit" class="btn btn-warning">Обновить страницу</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>