<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/headerAdmin :: headerAdmin"></div>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <div th:insert="blocks/navbarAdmin :: navbarAdmin"></div>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1>Список пользователей сайта</h1>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">email</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Роль</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Дата регистрации</th>
                        <th scope="col">Редактирование</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="el, iterStat : ${pageAdminAccountsData}">
                        <tr>
                            <td th:text="${iterStat.count}"/>
                            <td th:text="${el.firstName}"/>
                            <td th:text="${el.LastName}"/>
                            <td th:text="${el.email}"/>
                            <td th:text="${el.phone}"/>
                            <td th:text="${el.role}"/>
                            <td th:text="${el.state}"/>
                            <td th:text="${el.dateRegistration}"/>
                            <td><a th:href="'/admin/accounts/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

</body>
</html>