<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/header :: header"></div>

<main style="margin-bottom: 124px">
    <div class="container mt-5 mb-5">
        <h1 th:text="${title}"/>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>