<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/header :: header"></div>

<main style="margin-bottom: 124px">
    <div class="container mt-5 mb-5">
        <div th:each="el : ${post}" class="alert mt-2" style="background-color: #abbbca">
            <h3 th:text="${el.title}"/>
            <p th:text="${el.fullText}"/>
            <p><b>Просмотры:</b> <span th:text="${el.views}"/></p>
            <div style="display: flex; justify-content: space-between;">
                <a href="/blog" class="btn btn-warning">Back</a>
            </div>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>