<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/header :: header"></div>

<main style="margin-bottom: 124px">
    <div class="container mt-5 mb-5">
        <h1>Блог сайта</h1>
        <div th:each="el : ${posts}" class="alert mt-2" style="background-color: #abbbca">
            <h3 th:text="${el.title}"/>
            <p th:text="${el.anons}"/>
            <a th:href="'/blog/' + ${el.id}" class="btn btn-warning">Details</a>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>