<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/header :: header"></div>

<main style="margin-bottom: 124px">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light mb-3">Чтобы связаться со мной выберите удобный для Вас вариант.</h1>
                <h2 class="fw-light mb-5">Так же Вы можете заглянуть на мои репозитории и ужаснуться от моего ...кода :)</h2>
                <div style="display: flex; justify-content: space-between;">
                    <div th:each="el : ${pageContactsData}">
                        <a target="_blank" th:href="${el.link}"><img th:src="${el.image}" th:alt="${el.alt}" class="social mt-5"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>