<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/headerWithSignInUp :: headerWithSignInUp"></div>

<main style="margin-bottom: 124px">
    <div class="container mt-5 mb-5">
        <h1>Редактирование статьи</h1>
        <div th:each="el : ${post}" class="alert mt-2" style="background-color: #abbbca">
            <form method="post">
                <input type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи"
                       class="form-control" required="" style="background-color: #abbbca; border-color: black"><br>
                <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс статьи"
                       class="form-control" required="" style="background-color: #abbbca; border-color: black"><br>
                <textarea th:text="${el.fullText}" name="fullText" placeholder="Введите полный текст статьи"
                          class="form-control" required="" style="background-color: #abbbca; border-color: black"/><br>
                <div style="display: flex; justify-content: space-between;">
                    <a th:href="'/accountPostDetails/' + ${el.id}" class="btn btn-warning">Back</a>
                    <button type="submit" class="btn btn-warning">Обновить статью</button>
                </div>
            </form>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>