<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/headerWithSignInUp :: headerWithSignInUp"></div>

<main style="margin-bottom: 124px">
    <div class="container mt-5 mb-5">
        <h1>Пост аккаунта</h1>
        <div th:each="el : ${post}" class="alert mt-2" style="background-color: #abbbca">
            <h3 th:text="${el.title}"/>
            <p th:text="${el.fullText}"/>
            <p><b>Просмотры:</b> <span th:text="${el.views}"/></p>
            <div style="display: flex; justify-content: space-between;">
                <a href="/blog" class="btn btn-warning">Back</a>
                <div style="display: flex; justify-content: space-between;">
                    <a th:href="'/accountPost/' + ${el.id} + '/edit'" class="btn btn-warning me-2">Редактировать</a>
                    <form th:action="'/accountPost/' + ${el.id} + '/remove'" method="post">
                        <button type="submit" class="btn btn-warning">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>