<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/head :: head"></div>
<body>
<div th:insert="blocks/header :: header"></div>

<main style="margin-bottom: 124px">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div  th:each="el : ${pageHomeData}" class="col-lg-6 col-md-8 mx-auto">
                <h1 th:utext="${el.text_header}" class="fw-light mb-5"/>
                <p th:utext="${el.text_intro}" class="lead text-muted"/>
                <p th:utext="${el.text_desc}" class="lead text-muted"/>

                <!--                <p>-->
                <!--                    <a href="#" class="btn btn-warning my-2">Main call to action</a>-->
                <!--                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
                <!--                </p>-->
            </div>
        </div>
    </section>

    <!--    <div class="album py-5 bg-light">-->
    <!--        <div class="container">-->

    <!--            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">-->

    <!--                <option th:each="i : ${#numbers.sequence(0, 2, 1)}">-->
    <!--                    <p th:text="${ i }"></p> &lt;!&ndash; THIS loops 4 times, instead of 5 &ndash;&gt;-->
    <!--                </option>-->

    <!--                <div class="col">-->
    <!--                    <div class="card shadow-sm">-->
    <!--                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
    <!--                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
    <!--                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
    <!--                            <rect width="100%" height="100%" fill="#55595c"></rect>-->
    <!--                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
    <!--                        </svg>-->

    <!--                        <div class="card-body">-->
    <!--                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
    <!--                                additional content. This content is a little bit longer.</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
    <!--                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted">9 mins</small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col">-->
    <!--                    <div class="card shadow-sm">-->
    <!--                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
    <!--                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
    <!--                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
    <!--                            <rect width="100%" height="100%" fill="#55595c"></rect>-->
    <!--                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
    <!--                        </svg>-->

    <!--                        <div class="card-body">-->
    <!--                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
    <!--                                additional content. This content is a little bit longer.</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
    <!--                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted">9 mins</small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col">-->
    <!--                    <div class="card shadow-sm">-->
    <!--                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"-->
    <!--                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"-->
    <!--                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
    <!--                            <rect width="100%" height="100%" fill="#55595c"></rect>-->
    <!--                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>-->
    <!--                        </svg>-->

    <!--                        <div class="card-body">-->
    <!--                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to-->
    <!--                                additional content. This content is a little bit longer.</p>-->
    <!--                            <div class="d-flex justify-content-between align-items-center">-->
    <!--                                <div class="btn-group">-->
    <!--                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
    <!--                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
    <!--                                </div>-->
    <!--                                <small class="text-muted">9 mins</small>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->

</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>