<footer th:fragment="footer" class="my-0 pt-2 bg-dark text-muted text-center text-small"
        style="position: fixed; bottom: 0; width: 100vw !important">
    <div class="container">
        <p class="mb-1">© 2021 Java developer: Папсуев Тимофей Владимирович</p>
        <div>
            <ul class="list-inline" style="display: flex; justify-content: center; margin-bottom: 0;">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/photo" class="nav-link px-2 text-white">Photo</a></li>
                <li><a href="/video" class="nav-link px-2 text-white">Video</a></li>
                <li><a href="/blog" class="nav-link px-2 text-white">Blog</a></li>
                <li><a href="/accountPost/add" class="nav-link px-2 text-white">Add post</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
                <li><a href="/contacts" class="nav-link px-2 text-white">My contacts</a></li>
            </ul>
        </div>
    </div>
</footer>
