<header th:fragment="header" class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/photo" class="nav-link px-2 text-white">Photo</a></li>
                <li><a href="/video" class="nav-link px-2 text-white">Video</a></li>
                <li><a href="/blog" class="nav-link px-2 text-white">Blog</a></li>
                <li><a href="/accountPost/add" class="nav-link px-2 text-white">Add post</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <div class="text-end">
                <a href="/contacts" class="nav-link px-2 text-white">My contacts</a>
            </div>
        </div>
    </div>
</header>
