<header th:fragment="headerAdmin" class="p-3 bg-dark text-white">
    <div class="text-end">
            <span th:if="${accountDto != null}">
            <a href="/accountBlog" class="nav-link px-2 text-warning" style="display: inline">back</a>
                <span th:text="${accountDto.getFirstName}"/>
                <span th:text="${accountDto.getLastName}"/>
                '<span th:text="${accountDto.getRole}" style="color: #ffc107"/>'
                <a href="/logout" class="btn btn-warning ms-2 me-2">Sign Out</a>
            </span>
    </div>
</header>
