<header th:fragment="headerWithSignInUp" class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="/photo" class="nav-link px-2 text-white">Photo</a></li>
                <li><a href="/video" class="nav-link px-2 text-white">Video</a></li>
                <li><a href="/blog" class="nav-link px-2 text-white">Blog</a></li>
                <li><a href="/accountPost/add" class="nav-link px-2 text-white">Add post</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
                <li>
                    <span th:if="${accountDto != null and accountDto.getRole == T(ru.ptv.portfolio.models.Role).ADMIN}">
                        <a href="/admin" class="nav-link px-2 text-warning">admin Panel</a>
                    </span>
                </li>
            </ul>
            <div class="text-end">
                <span th:if="${accountDto != null}">
                    <span th:text="${accountDto.getFirstName}"/>
                    <span th:text="${accountDto.getLastName}"/>
                    '<span th:text="${accountDto.getRole}" style="color: #ffc107"/>'
                    <a href="/logout" class="btn btn-warning ms-2 me-2">Sign Out</a>
                </span>
<!--                <span th:if="${accountDto == null}">-->
<!--                    <a href="/signIn" class="btn btn-outline-light me-2">Sign In</a>-->
<!--                    <a href="/signUp" class="btn btn-warning">Sign Up</a>-->
<!--                </span>-->
            </div>
        </div>
    </div>
</header>
