<div th:fragment="head" >
    <head>
        <title>PTV_Portfolio</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
        <link rel="icon" href="/images/icons/favicon.ico" type="image/ico" />
        <link rel="shortcut icon" href="/images/icons/favicon.ico" type="image/ico" />
    </head>
</div>