<nav th:fragment="navbarAdmin">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/admin/home">Home page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/photo">Photo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/video">Video</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/contacts">Contacts</a>
        </li>
        <hr>
        <li class="nav-item">
            <a class="nav-link" href="/admin/accounts">All accounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/posts">All posts</a>
        </li>
    </ul>
</nav>